SELECT MepElementId, IntersectionX, IntersectionY, IntersectionZ, SleevePlacementPointX, SleevePlacementPointY, SleevePlacementPointZ, WallCenterlinePointX, WallCenterlinePointY, WallCenterlinePointZ FROM ClashZones LIMIT 20;
